.App {
  text-align: center;
}

body {
  background-color: #a9daff;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  position: absolute;
  text-align: center;
  top: 50px;
  left: 50%;
  z-index: 1;
  width: 100%;
  transform: translateX(-50%);
  color: black;
  -webkit-text-fill-color: white; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}
